{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            margin:auto;
            margin-bottom: 70px;
            margin-top: 30px;
            border:1px solid  rgb(179, 108, 108);
            width:400px;
            height: 100px;
            padding-top:40px;
        }
    </style>
    <h1>
     관련,공공기관 연락처들 넣어주세요!! ex-보건소, 구청,병원<br>
      vaccine앱과 마찬가지로 아직 모델도 안만들었어요 <br>
     자유롭게 ㄱㄱ 모델 만들어서 내용 넣어도 되고 뭐든 내용 채우기<br><br><br>

     공공기관 사이트들 로고 따와서 하이퍼링크 걸어줘도 좋을듯
    {%endblock%}