{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@700&family=Ultra&display=swap');

    .text {
        border-radius: 20px;
        font-family: 'Alfa Slab One', 'Noto Sans KR', cursive, sans-serif;
        position: relative;
        margin: 3% 20%;
        z-index: 2;
        padding: 40px;
        background-color: rgb(34, 158, 100);
        color: rgb(65, 65, 65);
    }

    .title {
        font-size: 30px;
        color: rgb(207, 169, 43);
    }
</style>
<div class="text">
    <div class="title">
        <p>Share your info!</p>
    </div>
    <!-- 인코딩 타입을 추가해서 form-data의 형태로 사진을 서버에 넘겨줄 수 있게 된다 -->
    <form action="{%url 'new'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-outline-danger">submit</button>
    </form>
</div>

{% endblock %}