<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@700&family=Ultra&display=swap');

    table {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 60%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }

    td:nth-child(1) {
        width: 300px;
    }

    .col {
        color: rgb(0, 0, 0);
    }

    .webtoonTitle {
        font-size: 40px;
        color: rgb(10, 25, 158);
        text-shadow: 4px 4px 0px #1565C0, 8px 8px 0px #42A5F5, 12px 12px 0px #E3F2FD;
    }

    .header {
        border-bottom: 1px solid green;
    }

    .subject {
        font-size: 20px;
    }

    .detailTable {
        background-color: rgb(235, 235, 235);
        color: rgb(65, 65, 65);
        border: 1px solid green;
    }

    .blog {
        border-radius: 20px;
        position: relative;
        margin: 3% 20%;
        z-index: 2;
        padding: 40px;
        background-color: rgb(34, 158, 100);
        color: rgb(65, 65, 65);
    }

    .all {
        font-family: 'Noto Sans KR', cursive, sans-serif;
    }

    table .comment_table {
        background-color: rgb(235, 235, 235);
        color: rgb(65, 65, 65);
        border: 1px solid green;
        width: 60%;
    }

    .form {
        border-radius: 20px;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        margin: 3% 20%;
        z-index: 2;
        padding: 40px;
        width: 60%;
        background-color: rgb(255, 244, 244);
        color: rgb(65, 65, 65);
    }
</style>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="all">

    <div class="blog">
        <table class="detailTable">
            {% if blog.image %}
            <tr class="header">
                <td colspan="2">
                    <img src={{blog.image.url}} alt='image' height="300px">

                </td>
            </tr>
            {% endif %}
            <!-- <tr><th>카테고리</th><td> {{postContents.category}}</td></tr>-->
            <tr class="header">
                <td>🎨제목🎨</td>
                <td> {{blog.webtoon_name}}</td>
            </tr>
            <tr class="header">
                <td>📍장르📍</td>
                <td>{{blog.genre}}</td>
                </td>
            </tr>
            <tr class="header">
                <td>✏글 작성자✏</td>
                <td>{{blog.writer}}</td>
            </tr>
            <tr class="header">
                <td>📝웹툰정보📝</td>
                <td class="text_body "> {{blog.text}}</textarea></td>
            </tr>
        </table>
        {{blog.date|date:'Y-m-d H:i'}}<br> <br>
        {% if user == blog.writer %}
        <!-- user와 작성자의 이름이 같을 경우 삭제할 수 있게 -->
        <a href="{% url 'edit' blog.id %}" class="btn btn-outline-danger" tabindex="-1" role="button"
            aria-disabled="true">Edit</a>
        <a href="{% url 'delete' blog.id %}" class="btn btn-outline-danger" tabindex="-1" role="button"
            aria-disabled="true">Delete</a>
        {%endif%}

    </div>
    <br><br><br>
    <div id="comment">
        <!-- 댓글작성 -->
        <div class="form">
            {% if user.is_authenticated %}
            <form method="POST" action="{%url 'create_comment' blog.id  %}" enctype="multipart/form-data">
                {%csrf_token%}
                ✏댓글 작성
                {{ commentForms | crispy }}
                <input type="submit">
            </form>
            {%endif%}
        </div>
        <hr>
        <h2>🖋댓글🖋</h2>
        {% for comment in comments %}
        <br>
        <table id="comment_table">
            <tr>
                <td>
                    🌝{{comment.writer}}<br>
                    {{comment.pub_date|date:'Y-m-d H:i'}}
                </td>
                <td> {{comment.body}}
                </td>
                <td>
                    {% if user == comment.writer %}
                    <a href="{% url 'delete_comment' blog.id comment.id %}" class="btn btn-outline-danger" tabindex="-1"
                        role="button" aria-disabled="true">삭제하기</a>
                    {%endif%}
                </td>
            </tr>
        </table>
        <br><br>
        <div class="re_comment">
            {% for re_comment in re_comments %}
            {% if comment == re_comment.comment_id %}
            <table id="recomment_table">
                <tr class="re_writer">
                    <td>
                        ㄴ🌚{{re_comment.writer}}
                        <br>
                        {{comment.pub_date|date:'Y-m-d H:i'}}
                    </td>
                    <td class="re_comment_body">{{re_comment.body}}
                    </td>
                    <td>
                        {% if user == comment.writer %}
                        <a href="{% url 'delete_comment' blog.id re_comment.id %}" class="btn btn-outline-danger"
                            tabindex="-1" role="button" aria-disabled="true">삭제하기</a>
                        {%endif%}
                    </td>
                </tr>
            </table>

            <br>
            {% endif %}
            {% endfor %}
            <div class="form">
                {% if user.is_authenticated %}
                <form method="POST" action="{%url 'create_re_comment'  blog.id comment.id %}"
                    enctype="multipart/form-data">
                    {%csrf_token%}
                    ✏대댓글 작성
                    {{ commentForms | crispy }}
                    <input type="submit">
                </form>
                {%endif%}
            </div>
        </div>
        {% endfor %}
        <br> <br>
    </div>
</div>
{% endblock %}