{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>

        .list{
            border: 1px solid black;
            width: 400px;
            margin: auto;
            position: relative;
            left: 100px;
        }
        .introduce{
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 35%;
            height: 100%;
            margin: auto;
            float: left;
            position: relative;
            left: 10px;
            padding: 20px;
            margin: 20px;
            background-color: #FFFFDC;
            margin-bottom: 70px;
        }
        
        .newPost_list, .newNews_list, .newNews_list {
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 50%;
            float: right;
            padding: 20px;
            margin: 20px;
            background-color: white;
        }
        
        #content {
            padding: 5px;
            float: left;
        }

        small{
            font-size: 6px;
        }

        .title {
            margin: 0px;
        }
        .slider_item{
            height: 200px;
        }
    </style>

    <div class="introduce">
        <img class="koala_main" src="{% static 'koala_main.png' %}" alt="Koala main" width="400px"  >
        <br>
        <div id="container">
            <div class="slider">
                <div class="slider_item"><a href="http://kdca.go.kr/gallery.es?mid=a20503010000&bid=0002"><img src="{% static '백신사전예약.png' %}"  ></a></div>
                <div class="slider_item"><a href="http://kdca.go.kr/gallery.es?mid=a20503010000&bid=0002"><img src="{% static '백신심근염심낭염로고.png' %}"  ></a></div>
                <div class="slider_item"><a href="http://kdca.go.kr/gallery.es?mid=a20503010000&bid=0002"><img src="{% static '혈전증.png' %}"  ></a></div>
            </div>
        </div> 
    
    </div>
    <script>
        const showing_class = "showing";
        const firstSlide = document.querySelector(".slider_item:first-child");
        function slide(){
            const currentSlide = document.querySelector(`.${showing_class}`); 
            if(!currentSlide)
            { 
                firstSlide.classList.add(showing_class); 
            }
            else
            {
                currentSlide.classList.remove(showing_class);
                const nextSlide = currentSlide.nextElementSibling;
                if (nextSlide){
                    nextSlide.classList.add(showing_class);
                } 
                else {
                    firstSlide.classList.add(showing_class);
                }
            } 
        }
        slide();
        setInterval(slide, 2500); 

    </script>
    <style>
    .slider{
        width: 100%;
        position: relative;
    }
    .slider_item{
        width: 450px;
        height: 200px;
        overflow: hidden;
        position: absolute;
        top: 30px;
        left:-30px;
        margin: 20px;
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    .slider_item img{
        width: 450px;
        height: 200px;
    }
    .showing{
        opacity: 1;
        z-index: 1;
        transform: none;
    }
</style>
    <div class="newPost_list">
        <h3 class="title">🔔새로 올라온 글🖌🔔</h3>
        <hr>
        {% for unit in postList %}
            <div id="content">  
                <a class="toNext" href="{% url 'detailPage' unit.id%}">
                    제목: {{unit.title}} |
                    글내용: {{unit.summary}} |
                    <small>{{unit.pub_date}} </small>
            </a><br>
            </div>  
        {% endfor %}
    </div>

    <div class="newNews_list">
        <h3 class="title">🆕업데이트 된 기사📰</h3>
        <hr>
        {% for unit in newsList %}
        <div id="content">  
            <a class="toNext" href="{{unit.link}}">{{unit.title}}</a>
        </div>
        {% endfor %}
    </div>

    <div class="newNews_list">
        <h3 class="title">👩‍👧‍👦새로 달린 댓글🖌👨‍👧‍👧</h3>
        <hr>
        {% for unit in commentList %}
        <div id="content"> 
            <a class="toNext" href="{% url 'detailPage' unit.post_id%}">
                본글: {{unit.postId}} |
                댓글: {{unit.body}} |
                작성자: 
                {% if unit.hideName == False %}
                {{unit.writer}}
                  <!--if unit.hideName == False and unit.writer == user.username and user.is_staff%}
                {{unit.writer}}(관리자)--> 
                {% else %} 
                  익명
                {% endif %} |
                <small>{{unit.pub_date}}</small>
            </a>
        </div>
        {% endfor %}
    </div>



    {%endblock%}