{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        .list{
            border: 1px solid black;
            width: 400px;
            margin: auto;
            position: relative;
            left: 100px;
        }
        .introduce{
            border: 1px solid black;
            width: 400px;
            height: 500px;
            margin: auto;
            float: left;
            position: relative;
            left: 100px;
        }
        small{
            font-size: 6px;
        }
    </style>
    <div class="introduce">
        안녕하세요 코알라입니다 알라알라
        <br>
        <h1>웹서비스 소개(만든 이유, 대상 사용자)랑--이거위주로 <br>
        +개발자 소개도 넣어주세요!!!!!
    <br>이건 css로 안하고 따로 포토샵이나 일ㄹ러스트로 제작해서 넣어도 귀여울듯 </h1>
    + 만약 소개 사진 두장 정도 만들어주시면 자바스크립트로 슬라이드형식 만들게요

    </div>
    
    <div class="newPost list">
        새로 올라온 글<hr>
        {% for unit in postList %}
            <div id="content">  
                <a class="toNext" href="{% url 'detailPage' unit.id%}">
                    제목:{{unit.title}}|글내용:{{unit.summary}}|<small>{{unit.pub_date}} </small>
            </a><br>
            </div>  
        {% endfor %}
    </div>
    <div class="newNews list">
        업데이트 뉴스<hr>
        {% for unit in newsList %}
        <div id="content">  
            <a class="toNext" href="{{unit.link}}">{{unit.title}}</a>
        </div>
        {% endfor %}
    </div>

    <div class="newNews list">
        새로 달린 댓글<hr>
        {% for unit in commentList %}
        <div id="content"> 
            <a class="toNext" href="{% url 'detailPage' unit.post_id%}">글 제목--{{unit.postId}}--
                댓글내용:{{unit.body}}|작성자:{{unit.writer}}|<small>{{unit.pub_date}} </small>
            </a>
        </div>
        {% endfor %}
    </div>
    {%endblock%}