{%extends 'base.html'%}

{%block content%}

{% load static %}
<style>
    h2, .message {
        font-family: 'Noto Sans KR', cursive, sans-serif;
    }

    .message {
        border:3px solid black;
        border-radius: 30px;
        margin:3% 20%;
        padding:3%;
    }

    #delete {
        color:rgb(156, 55, 55);
    }
   
</style>
<br>
<h2>Detail</h2>
<div id="form">
    <div class="message">
        {{message.body}} <br><br>
        From. {{message.writer}} <br><br>
        {{message.pub_date}} <br>
        <a href="{%url 'chatting_delete' message.id %}" id="delete">delete</a>
    </div>
</div>

{%endblock%}