{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            margin:auto;
            margin-bottom: 70px;
            margin-top: 30px;
            border:1px solid  rgb(179, 108, 108);
            width:400px;
            height: 100px;
            padding-top:40px;
        }
    </style>
    <h1>
     백신에 대해 내용 넣어주세요~~ vaccine앱엔 아직 모델도 안만들었어요 <br>
     자유롭게 ㄱㄱ 모델 만들어서 내용 넣어도 되고 <br>
     그냥  html꾸미듯 아무거나 그림이든 캡쳐든 카드뉴스든 넣어도 되고</h1>
    {%endblock%}