{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@700&family=Ultra&display=swap');

    .text {
        border-radius: 20px;
        font-family: 'Alfa Slab One', 'Noto Sans KR', cursive, sans-serif;
        position: relative;
        margin: 3% 20%;
        z-index: 2;
        padding: 40px;
        background-color: rgb(236, 228, 182);
        color: rgb(65, 65, 65);
    }

    .title {
        font-size: 30px;
        color: rgb(218, 15, 15);
    }
</style>
<div class="text">
    <div class="title">
        <p>Update Your Favorite Channel!</p>
    </div>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>
</div>
{% endblock %}