{% extends 'base.html' %}  

{% block content %}
    <h1>{{blogInformation.subject}}</h1>
    <h2>작성자: {{blogInformation.drafter}}</h2>
    <br>
    <h4>날짜: {{blogInformation.date}}</h4>
    <hr>
    <!-- 블로그에 이미지가 없을 경우 오류 처리 -->
    {% if blogInformation.picture %}
    <p><img src="{{blogInformation.picture.url}}" alt=""></p>
    {% endif %}
    <div class="blog">
        <p>{{blogInformation.textBody}}</p>
    </div>
    <br>
    <!-- editMine url부분에 pathcoverter를 사용했기 때문에 id도 함께 보내줌. -->
    <a href="{% url 'editMedia' blogInformation.id %}">수정하기</a> 
    <br><br>
    <a href="{% url 'deleteMedia' blogInformation.id %}">삭제하기</a>
{% endblock %}