{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 50%;
            padding: 20px;
            margin: 20px auto;
            background-color: white;
        }
        tr,td{
            padding: 5px;
        }
        td{
            width: 150px;
            padding: 10px;
        }
        .summary{
            width: 350px;
            padding: 20px;
        }
    </style>
    <h2> 내가 보낸 메세지 </h2>
    {% for unit in message %}<!--근데 여기서는 항목별로 보이게 하려고 for문 써줌-->
    <div id="unit">
        <table>     
            <tr>
                <th>보낸이</th> <td>{{unit.writer}} </td>
                <th>받는이</th> <td>{{unit.to}} </td>
            </tr>
            <tr>
               <th>내용</th> 
               <td class="summary" colspan="3">  
                   {{unit.summary}}       
                    <a class="toNext" href="{% url 'detailMessage' unit.id%}">...더보기</a>
                    <br> 
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    {%endblock%}
