{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content %}
{% load static %}
<style>
    .postlist {
        background-color: rgb(255, 255, 255, 0.5);
        height: 800px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    .detailTable,
    tr,
    td,
    th {
        text-align: center;
        margin: auto;
        border: 1px black solid;
        border-collapse: collapse;
        padding: 30px;
        background-color: white;
    }

    form {
        height: 500px;
        text-align: center;
    }

    th {
        width: 70px;
    }

    h1 {
        font-weight: 900;
        font-size: 30pt;
        color: rgb(179, 108, 108);
        text-shadow: 1pt 1pt black;
    }
</style>

<div id="contents">
    <div class="postlist">
        <br><br>
        <h1>댓글/답글 수정하기</h1><br><br>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <table class="detailTable">
                {{ com_form | crispy }}
            </table>
            <br><button type="submit">수정하기</button>
        </form>
    </div>
</div>


{%endblock%}